@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Fuentes utilizadas*/
@font-face {
  font-family: chinese;
  src: url(../assets/fonts/chinese-rocks.otf); }

@font-face {
  font-family: ghotam;
  src: url(../assets/fonts/ghotam-rocks.otf); }

/* Extend utilizados*/
body main .contenedor .inicio-seccion .titulo-seccion, body footer .contenedor .titulo-seccion--footer {
  font-size: 48px;
  margin-bottom: 1rem;
  color: #91BCE9;
  display: block;
  text-align: center;
  font-family: chinese; }

body main .contenedor .inicio-seccion .subtitulo-seccion {
  font-size: 36px;
  color: #a88231;
  display: block;
  text-align: center;
  font-family: chinese; }

/*Estilos generales*/
/*Estilos barra navegación*/
header nav .container-fluid {
  margin: 0rem; }
  header nav .container-fluid ul li a {
    color: white;
    font-family: chinese;
    font-size: 1.5rem;
    margin-left: 2rem; }
    header nav .container-fluid ul li a:hover {
      color: #7567C3; }
  header nav .container-fluid #navbarNav {
    justify-content: end; }

body main {
  background-color: #151515; }
  body main .contenedor {
    padding-bottom: 2rem; }
    body main .contenedor .inicio-seccion {
      margin-top: 1rem; }
    body main .contenedor .titulo-pages {
      padding-top: 72px; }
    body main .contenedor p {
      color: #d0d0d0; }

/*Estilos del footer*/
body footer {
  background-color: black;
  text-align: center; }
  body footer .contenedor {
    padding-bottom: 2.5rem; }
    body footer .contenedor .titulo-seccion--footer {
      padding-top: 2rem; }
    body footer .contenedor p {
      margin-top: 2rem;
      color: #d0d0d0; }
    body footer .contenedor .redes {
      display: flex;
      justify-content: center;
      padding: 1rem; }
    body footer .contenedor .link-icon svg {
      width: 40px;
      height: 40px;
      color: white;
      margin: 0rem 1rem 0rem 1rem; }
      body footer .contenedor .link-icon svg:hover {
        color: #7567C3; }

/* Estilos sección "próximos shows" */
body main .contenedor .seccion-proximos-shows {
  margin-top: 36px;
  background-image: url(../assets/img/img-principales/foto-proximas-fechas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 2rem; }

body main .contenedor .grid-tabla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  text-align: center; }
  body main .contenedor .grid-tabla .grid-item hr {
    color: #d0d0d0; }
  body main .contenedor .grid-tabla .grid-item .item-fecha {
    font-size: 1.5rem;
    font-weight: 600; }
  body main .contenedor .grid-tabla .grid-item p {
    font-family: ghotam;
    font-size: 1.2rem; }
  body main .contenedor .grid-tabla .grid-item a {
    text-decoration: none;
    color: #a88231;
    font-family: chinese;
    font-weight: 900; }
    body main .contenedor .grid-tabla .grid-item a:hover {
      color: white; }

/* Estilos sección "discografía" */
body main .contenedor .img-arte-de-tapa .img-disco {
  display: block;
  margin: auto;
  height: 18rem; }

/* Estilos sección "video" */
body main .contenedor iframe {
  display: block;
  margin: auto;
  height: 200px;
  width: 360px; }

/* Estilos pages: BIOGRAFIA */
body main .contenedor .contenedor-bio {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-content: center;
  padding: 0rem 1.5rem 0rem 1.5rem; }
  body main .contenedor .contenedor-bio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 1;
    padding-bottom: 0.8rem; }

/* Estilos pages: VIDEO */
body main .contenedor .iframe-contenedor {
  margin: 2rem auto; }
  body main .contenedor .iframe-contenedor iframe {
    margin: 2rem auto;
    max-width: 360px; }
  body main .contenedor .iframe-contenedor .contenedor-btn {
    text-align: center; }
    body main .contenedor .iframe-contenedor .contenedor-btn .btn {
      margin-top: 0rem; }

/* Estilos pages: GALERIA */
body main .contenedor .galeria-links {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(2, 50%);
  justify-content: center;
  gap: 0.5em; }
  body main .contenedor .galeria-links .imagen-galeria {
    position: relative; }
    body main .contenedor .galeria-links .imagen-galeria img {
      opacity: 0.6;
      width: 100%;
      height: 100%;
      object-fit: cover; }
      body main .contenedor .galeria-links .imagen-galeria img:hover {
        opacity: 1; }
    body main .contenedor .galeria-links .imagen-galeria .texto-imagen {
      position: absolute;
      top: 80%;
      left: 40%;
      transform: translate(-50%, -50%);
      color: #91BCE9; }

/* Estilos pages: GALERIA - carpeta */
body main .contenedor .galeria-imagenes {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 0.5rem;
  margin: 0rem 2rem 2rem 2rem;
  justify-content: center; }
  body main .contenedor .galeria-imagenes div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/* Estilos pages: DISCOGRAFIA */
body main .contenedor .contenedor-discografia {
  padding: 1rem 2rem 1rem 2rem; }
  body main .contenedor .contenedor-discografia .info-disco .img-disco {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem; }
  body main .contenedor .contenedor-discografia .info-disco .descripcion-disco {
    margin-bottom: 2rem; }
    body main .contenedor .contenedor-discografia .info-disco .descripcion-disco .desc-info {
      font-family: ghotam;
      color: #d0d0d0;
      margin-bottom: 0.3rem; }
      body main .contenedor .contenedor-discografia .info-disco .descripcion-disco .desc-info svg {
        color: #d0d0d0;
        margin-right: 0.5rem; }
      body main .contenedor .contenedor-discografia .info-disco .descripcion-disco .desc-info p {
        display: inline; }
  body main .contenedor .contenedor-discografia .info-disco .desc-info-ficha {
    display: none;
    padding-top: 1rem; }

body main .contenedor .contenedor-reproductor-letras .contenedor-reproductor {
  margin-bottom: 1rem; }
  body main .contenedor .contenedor-reproductor-letras .contenedor-reproductor iframe {
    height: 30rem;
    width: 100%; }

body main .contenedor .contenedor-reproductor-letras .seccion-letras {
  margin: 1rem 0rem 1rem 0rem; }
  body main .contenedor .contenedor-reproductor-letras .seccion-letras .accordion .accordion-item .accordion-header .accordion-button {
    color: #91BCE9;
    background-color: #0e0e0e; }
    body main .contenedor .contenedor-reproductor-letras .seccion-letras .accordion .accordion-item .accordion-header .accordion-button:focus {
      background: #0e0e0e;
      color: #a88231;
      font-weight: bold;
      box-shadow: none; }
  body main .contenedor .contenedor-reproductor-letras .seccion-letras .accordion .accordion-item .accordion-body {
    background-color: #0e0e0e;
    font-size: 1rem; }
    body main .contenedor .contenedor-reproductor-letras .seccion-letras .accordion .accordion-item .accordion-body p {
      color: #d0d0d0; }

@media screen and (min-width: 800px) {
  /*Generales*/
  header nav .container-fluid {
    margin: 0rem 2rem 0rem 2rem; }
  /*MQ Tablet Footer */
  body footer .contenedor .link-icon svg {
    margin: 0rem 2.5rem 0rem 2.5rem; }
  /*MQ Tablet Index*/
  body main .contenedor .grid-tabla {
    display: grid;
    grid-template-columns: repeat(2, 50%); }
    body main .contenedor .grid-tabla .grid-item hr {
      display: none; }
  body main .contenedor .img-arte-de-tapa .img-disco {
    height: 22rem; }
  body main .contenedor iframe {
    height: 300px;
    width: 500px; }
  /*MQ Tablet Biografia*/
  body main .contenedor .contenedor-bio {
    grid-template-columns: 30% 20% 40%;
    grid-template-rows: repeat(4, auto);
    max-width: 900px;
    margin: 2rem auto; }
    body main .contenedor .contenedor-bio img {
      grid-column: span 2;
      grid-row: span 3;
      margin-left: 1rem; }
    body main .contenedor .contenedor-bio p {
      grid-column: span 2;
      grid-row: span 1;
      margin-left: 2rem; }
    body main .contenedor .contenedor-bio #p-full {
      grid-column: span 4;
      margin-left: 1rem; }
  /*MQ Tablet Discografía*/
  body main .contenedor .contenedor-discografia {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 2rem;
    justify-content: center;
    margin: 0 auto; }
    body main .contenedor .contenedor-discografia .info-disco {
      height: fit-content;
      width: 100%; }
      body main .contenedor .contenedor-discografia .info-disco .desc-info-ficha {
        display: block; }
  body main .contenedor .contenedor-reproductor-letras {
    grid-column: 2/3; }
    body main .contenedor .contenedor-reproductor-letras .contenedor-reproductor {
      width: 100%; }
    body main .contenedor .contenedor-reproductor-letras .seccion-letra {
      width: 100%; }
  /*MQ Tablet Video*/
  body main .contenedor .iframe-contenedor {
    justify-content: center; }
    body main .contenedor .iframe-contenedor iframe {
      height: 400px;
      width: 700px; }
  /*MQ Tablet Galeria*/
  body main .contenedor .galeria-links {
    grid-template-columns: repeat(4, 21%);
    grid-template-rows: 100%; }
    body main .contenedor .galeria-links .imagen-galeria .texto-imagen {
      font-size: 1.2rem;
      top: 85%; }
  /*MQ Tablet Galeria- carpeta*/
  body main .contenedor .galeria-imagenes {
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(5, 20%); }
    body main .contenedor .galeria-imagenes .img-span-uno {
      grid-row: span 1; }
    body main .contenedor .galeria-imagenes .img-span-dos {
      grid-row: span 2; }
    body main .contenedor .galeria-imagenes .img-catorce {
      display: none; } }

@media screen and (min-width: 1200px) {
  /*MQ Desktop Index*/
  body main .contenedor .grid-tabla {
    grid-template-columns: 90%;
    grid-template-rows: repeat(2, auto);
    margin-top: 30px;
    margin-bottom: 30px; }
    body main .contenedor .grid-tabla .grid-item {
      display: grid;
      grid-template-columns: repeat(4, 20%);
      justify-content: center; }
      body main .contenedor .grid-tabla .grid-item hr {
        display: block;
        grid-column: span 4; }
  body main .contenedor .img-arte-de-tapa .img-disco {
    height: 26rem; }
  body main .contenedor iframe {
    height: 400px;
    width: 650px; }
  /*MQ Desktop Biografia*/
  body main .contenedor .contenedor-bio {
    grid-template-columns: 50% 38%;
    max-width: 1050px;
    margin: 25px auto 55px auto; }
    body main .contenedor .contenedor-bio img {
      grid-column: span 1;
      grid-row: span 2; }
    body main .contenedor .contenedor-bio p {
      grid-column: span 1;
      font-size: 1.1rem; }
    body main .contenedor .contenedor-bio #p-full {
      grid-column: span 2; }
  /*MQ Desktop Discografía*/
  body main .contenedor .contenedor-discografia {
    max-width: 1200px; }
  /*MQ Desktop Video*/
  body main .contenedor .iframe-contenedor iframe {
    height: 500px;
    width: 900px; }
  /*MQ Desktop Galeria*/
  body main .contenedor .galeria-links {
    grid-template-columns: repeat(4, 15%);
    justify-content: center; }
  body main .contenedor .imagen-galeria .texto-imagen {
    top: 90%; }
  /*MQ Tablet Galeria- carpeta*/
  body main .contenedor .galeria-imagenes {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    gap: 0.2rem; }
    body main .contenedor .galeria-imagenes .img-catorce {
      display: block; } }
