// Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fuentes utilizadas*/
@font-face {
    font-family: chinese;
    src: url(../assets/fonts/chinese-rocks.otf);
}

@font-face {
    font-family: ghotam;
    src: url(../assets/fonts/ghotam-rocks.otf);
}

//Import utilidades
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";

/*Estilos generales*/
/*Estilos barra navegación*/
header{
    nav{
        .container-fluid{
            margin: 0rem;
            ul{
                li{
                    a{
                        color: $color-cuarto;
                        font-family: chinese;
                        font-size: 1.5rem;
                        margin-left: 2rem;
                        
                        &:hover{
                            color: $color-secundario;
                        }  
                    }     
                }
            }

            #navbarNav{
                justify-content: end;   
            }
        }        
    }    
}

body{
    main{
        background-color: $color-body;
        .contenedor {
            padding-bottom: 2rem;

            .inicio-seccion{
                margin-top: 1rem;
                .titulo-seccion{
                    @extend %titulos;
                }
                .subtitulo-seccion{
                    @extend %subtitulos;
                }
            }
            .titulo-pages{
                padding-top: 72px;
                margin: 0 1rem;
            }

            p{
                color: $color-parrafo;
            }
        }
    }
}

/*Estilos del footer*/
body{
    footer{
        background-color:$color-footer;
        text-align: center;

        .contenedor {
            padding-bottom: 2.5rem;
            .titulo-seccion--footer{
                @extend %titulos;
                padding-top: 2rem;
            }
            p{
                margin-top: 2rem;
                color: $color-parrafo;  
            }
            .redes{
                display: flex;
                justify-content:center;
                padding: 1rem;
            }
            .link-icon{
                i{
                    font-size: 2rem;
                    color: $color-cuarto;
                    margin: 0rem 1.5rem;

                    &:hover{
                        color: $color-secundario;
                    }
                }
            }
        }
    } 
}

// Estilos pagina INDEX
@import "html/index";

// Estilos pagina BIO
@import "html/bio";

// Estilos pagina VIDEO
@import "html/video";

// Estilos pagina GALERIA
@import "html/galeria";

// Estilos pagina GALERIA
@import "html/galeria-carpeta";

// Estilos pagina DISCOGRAFÍA
@import "html/discografia";

// Estilos MEDIA QUERIES
@import "html/media-queries";

