@import "../utilidades/variables";
@import "../utilidades/mixin";

/* Estilos pages: BIOGRAFIA */ 

body{
    main{
        .contenedor{
            .contenedor-bio{
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto;
                justify-content: center;
                padding: 0rem 1.5rem 0rem 1.5rem;

                @include tablet {
                    grid-template-columns: 30% 20% 40%;
                    grid-template-rows: 30% 30% 20% 20%;
                    row-gap: 0.5rem;
                } 
                @include desktop {
                    grid-template-columns: 30% 35%;
                    grid-template-rows: repeat(4,auto);
                    
                }

                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                    grid-column: span 1;

                    @include tablet {
                        grid-column: span 2;
                        grid-row: span 3;
                        margin-left: 1rem;
                    }
                    @include desktop {
                        grid-column: span 1;
                        grid-row: span 3;                
                    }    
                }

                p{
                    @include tablet {
                        grid-column: span 2;
                        grid-row: span 1;
                        margin-left: 2rem;
                    }
                    @include desktop {
                        grid-column: span 1;              
                    } 
                }
                #ultimo{
                    @include tablet {
                        grid-column: span 4;
                        margin-left: 1rem;
                    }
                    @include desktop {
                        grid-column: span 2;             
                    }     
                }
            }                
        }

    }

    .bio-contenedero{
        @include tablet {
            height: 80vh;
        }
    }       
}