/* Estilos pages: GALERIA */
body{
    main{
        .contenedor{
            .galeria-links{
                height: 60vh;
                display: grid;
                grid-template-columns: repeat(2,40%);
                grid-template-rows: repeat(2,50%);
                justify-content: center;
                gap: 0.5em;

                @include tablet {
                    grid-template-columns: repeat(4,20%);
                    grid-template-rows: 100%;
                } 
            
                img{
                    opacity: 0.6;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    &:hover{
                        opacity: 1;
                    }
                }                 
            }            
        }
    }
}
