/* Estilos sección "próximos shows" */
body{
    main{
        .contenedor{
            .seccion-proximos-shows{
                margin-top: 36px;
                background-image: url(../assets/img/img-principales/foto-proximas-fechas.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                padding: 2rem;
            }
            .grid-tabla{
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 1rem;
                text-align: center; 

                .grid-item{
                    hr{
                        color: $color-parrafo;
                    }
                    .item-fecha{
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                    p{
                        font-family: ghotam;
                        font-size: 1.2rem;
                    }
                    a{
                        text-decoration: none;
                        color: $color-tercero;
                        font-family: chinese;
                        font-weight: 900;

                        &:hover{
                            color: $color-cuarto;        
                        }
                    }
                }
            }
        }
    }
}

/* Estilos sección "discografía" */
body{
    main{
        .contenedor{
            .img-arte-de-tapa{
                .img-disco{
                    display: block;
                    margin: auto;
                    height: 18rem;
                }
            }            
        }
    }
}

/* Estilos sección "video" */
body{
    main{
        .contenedor{
            iframe {
                display: block;
                margin: auto;
                @include tamanio-iframe(200px, 360px);
            }            
        }
    }
}