/* Estilos pages: VIDEO */
body{
    main{
        .contenedor{
            .iframe-contenedor{
                margin: 2rem auto;
                iframe{
                    margin: 2rem auto;
                    max-width: 360px;                    
                }

                .contenedor-btn{
                    text-align: center;
                    .btn{
                        margin-top: 0rem;
                    }
                }
            }
        }
    }   
}

