/* Estilos pages: VIDEO */
body{
    main{
        .contenedor{
            .iframe-contenedor{
                display: flex;
                flex-direction: column;
                height: 50vh;

                iframe{
                    margin: 1rem auto 2rem auto;
                }

                .contenedor-btn{
                    text-align: center;
                    .btn{
                        margin-top: 0rem;
                    }
                }
            }
        }
    }   
}

