%titulos{
    font-size: 48px;
    margin-bottom: 1rem;
    color: $color-principal;
    display: block;
    text-align: center;
    font-family: chinese;
}

%subtitulos{
    font-size:36px;
    color: $color-tercero;
    display: block;
    text-align: center;
    font-family: chinese;
}
