// utilizar las medias query


@mixin tablet {
    @media screen and (min-width: 800px){
        @content;
    }    
}

@mixin desktop {
    @media screen and (min-width: 1200px){
        @content;
    }    
}

@mixin tamanio-iframe($h, $w){
    height: $h;
    width: $w;
}

@mixin tamanio-img($h, $w){
    height: $h;
    width: $w;
}