// paleta de colores

$color-principal: #91BCE9;
$color-secundario: #7567C3;
$color-tercero: #a88231;
$color-cuarto: white;

$color-body:#151515;
$color-parrafo: rgb(208, 208, 208);
$color-footer: black;


// estilos bootstrap componente accordion
$accordion-button-color:                  #91BCE9;
$accordion-button-bg:                     #0e0e0e;
$accordion-button-active-bg:              #151515;
$accordion-button-active-color:           #151515;

$accordion-button-focus-color:     #a88231;
$accordion-button-focus-bg:       #0e0e0e;
$accordion-border-color: yellow;